{
  values: [
    {
      key: 'apiPanelBaseUrl',
      value: 'https://panel.nusa.work/api'
    },
    {
      key: 'username',
      value: 'user@nusa.work'
    },
    {
      key: 'password',
      value: 'userpassword'
    },
    {
      key: 'grantType',
      value: 'password'
    },
    {
      key: 'clientId',
      value: '1'
    },
    {
      key: 'clientSecret',
      value: '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcd'
    },
  ]
}
